.loading {
    width: 100vw;
    height: 100vh;
    background-image: url('./iron_landing.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.loading1 img{
    width: 40px;
    border-radius: 100%;

}